{% extends "base.html" %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
  
<div class="album py-5 bg-light">
    
    <div class="container">
        
      <div class="row">
        {% for product in products %} 
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <img src="{{product.image.url}}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
              <a href="{{ product.get_absolute_url }}">{{product.name}}</a>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text">Price : {{product.price}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ product.get_absolute_url }}">checkout</a></button>

                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
    
</div>
{% endblock content %}